.card {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 290px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: none;

}

.card a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

.card a:hover {
    color: grey;
}