.navbar-cocktail {
  width: 100%;
  padding-top: 15px;
  padding-right: 10px;
   padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background-color: salmon;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo-navbar img {
  width: 43px;
  height: 35px;
}

.navbar-lewagon ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
